<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bitspilani.goa.letsPlay"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.camera"></uses-feature>

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <!--android:debuggable="false">-->

        <activity
            android:name="bitspilani.goa.letsPlay.activities.IntroappActivity"
            android:label="Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.MainActivity"
            android:label="tympass">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.MAINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.TextPlay"
            android:label="Play with TEXT">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.TEXTPLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.menu.Menu"
            android:label="MENU">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.menu.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.Email"
            android:label="Mail a friend">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.EMAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.SnapShot"
            android:label="Take a Pic"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.SNAPSHOT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.GetData"
            android:label="Data Passing">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.GETDATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.SendData"
            android:label="User Choice">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.SENDDATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.AboutUs"
            android:label="About Us"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.ABOUTUS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.Preferences"
            android:label="Preferences">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.PREFERENCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.Grafix"
            android:label="tympass">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.GRAFIX" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.GrafixSurface"
            android:label="Tympass surface">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.GRAFIXSURFACE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="bitspilani.goa.letsPlay.activities.SoundStuff"
            android:label="Sound Boom">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.SOUNDSTUFF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.Slider"
            android:label="slider Menu">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.SLIDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.HorizontalTabs"
            android:label="Tabs">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.HORIZONTALTABS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="bitspilani.goa.letsPlay.activities.SimpleBrowser"
            android:label="Browse the Internet">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.SIMPLEBROWSER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.Flipp"
            android:label="Flipp between items">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.FLIPP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.SharedPrefData"
            android:label="Store a variable data permanently">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.GETDATAFRMSHAREDPREF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.DataToInternal"
            android:label="Store data permanently to internal memory">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.GETDATAFRMSHAREDPREF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.DataToExternal"
            android:label="Store data permanently to internal memory">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.DATATOEXTERNAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.DatabaseData"
            android:label="Store data to application database">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.DATABASEDATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bitspilani.goa.letsPlay.activities.DatabaseView"
            android:label="View data in application database">
            <intent-filter>
                <action android:name="bitspilani.goa.letsPlay.activities.DBMSVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>